#heading {
    color: #2978b5;
    text-align: center;
    margin-top: 1rem;
    font-size:1.25rem;
}

#carousel-container{
    width: 95%;
    margin: 5px auto;
}

.images{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.imag{
    width: 100%;
    flex: 0 0 auto;
    transition: 500ms ease-in;
}

.active{
    background-color: #fff;
}