#left-arrow:hover,
#right-arrow:hover,
#dots:hover {
    cursor: pointer;
}
#left-arrow:hover,
#right-arrow:hover{
    background-color: #fff !important;
    color: black !important;
}

#dots {
    position: relative;
    margin: 0 auto;
    display: table;
    top: -43px;
}

